*{ 
    padding: 5px;
    color: rgb(74, 33, 8);
}
input{
    height: 25px;
    width: 98%;
    
}
.data{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label i {
    color: rgb(185, 89, 16);
}
button{
    width: 100%;
    background-color:rgb(242, 139, 5);
    color: whitesmoke;
    height: 40px;
    cursor: pointer;
}
.signup_button{
    display: flex;
    justify-content: center;
    height: 40px;
}
/* ............. */
.main{
    display: flex;
    justify-content: center;
}
a{
    color: rgb(7, 85, 85);
    text-decoration: none;
}